body, html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  color: rgb(33, 34, 28);
}

.App {
  text-align: left;
  background-color: rgb(233, 238, 232);
  padding: 3.2rem 2.4rem 3.2rem 2.4rem;
}

.news__image{
  width: 100%;
}

.news__title,
.news__date,
.news__teaser {
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  margin-bottom: 0;
}

.news__line,
.news__button,
.app__showMoreNews {
  margin: 0.8rem 1.6rem 0.8rem 1.6rem;
}

.news__title {
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 320;
  padding-top: 1.6rem;
}

.news__line {
  width: 4.8rem;
  border: 1px solid black;
}
.news__date {
  font-size: 1.2rem;
  font-weight: 700;
}

.news__teaser {
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: 0.02rem;
}

.news__button {
  display: block;
  background-color: rgb(36, 34, 40);
  color: white;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  height: 4rem;
  width: auto;
  padding: 0.8rem;
  padding-left: 1.6rem;
  padding-right: 1.2rem;
  margin: 0.8rem 0 4.8rem 1.6rem;
  transition: 0.16s;
}

.news__button__arrow {
  display: inline-block;
  height: 1.4rem;
  padding-left: 0.8rem;
  margin-top: -0.3rem;
}

.news__button:hover {
  background-color: rgb(42, 202, 253);
}

.app__showMoreNews {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: rgb(42, 202, 253);
  border: none;
  height: 5.6rem;
  width: 100%;
  padding: 0;
  margin-top: 2.4rem;
  transition: 0.16s;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.app__showMoreNews:hover {
  background-color: rgb(42, 202, 253);
  cursor: pointer;
  color: rgb(255, 255, 255);
}

@media only screen and (min-width: 1536px) {
  body, html {
    font-size: 82.5%;
  }
}

@media only screen and (min-width: 2260px) {
  body, html {
    font-size: 100%;
  }
}